.navbar {
  padding-top: 20px;
  .navbar-nav {
    .nav-link {
      font-family: 'Familjen Grotesk', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 31px;
      color: #242424;
    }
    .btn-warning {
      padding: 12px 38px;
      border-radius: 5px;
      background: #f96300;
      margin: 0px 50px;
      color: #fff;
      font-weight: 700;
    }
  }
}
