@import './../variables';
#auth {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  .auth-content {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 40px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 21px;
    line-height: 23px;
    min-width: 430px;
    .auth-title {
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 39px;
      display: flex;
      align-items: center;
    }
    .auth-subtitle {
      margin-bottom: 30px;
      color: #50555f;
    }
    .form-group {
      position: relative;
      .form-control {
        background-color: #e3e5e8;
        border-radius: 10px;
        margin: 10px 0;
        font-size: 21px;
      }
      ::placeholder {
        color: #767e8b;
        font-size: 21px;
      }
    }
    .act {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      .form-check {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin: 0;
        padding: 0;
        .form-check-input {
          margin: 0;
          margin-right: 5px;
          border-radius: 50px;
        }
      }
      .forgot-password {
        font-size: 16px;
        color: #428eff;
      }
    }
    .login {
      background-color: #f96300;
      width: 100%;
      border-radius: 10px;
      color: #fff;
      font-size: 22px;
      margin-top: 34px;
    }
    .login:hover {
      background-color: #68d69d;
      color: #401d93;
    }

    @media screen and (max-width: 767px) {
      padding: 5rem;
    }
  }
}
