@import './../variables';
@import './../components/navbar';
#home {
  .main {
    margin-top: 120px;
    .content {
      padding-top: 65px;
      .download {
        display: flex;
        .icon {
          padding-right: 50px;
          svg {
            height: 80px;
          }
        }
      }
    }

    .slide {
      display: flex;
      justify-content: flex-end;
      .carousel-inner {
        width: 80%;
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 5rem;
  }
}
